@mixin hover-color($color) {
    &, & > * {
      color: black;
      transition: {
        duration: 0.1s;
        timing-function: linear;
      }
    }
    &:hover {
      color: $color;
      margin: 20px;
      & > * {
        transform: scale(1.4);
        color: $color;
      }
    }
}


#social-link {

    $list: 
    ('facebook', #3b5998, $fa-var-facebook), 
    ('linkedin', #0077B5, $fa-var-linkedin), 
    ('soundcloud', #ff8800, $fa-var-soundcloud), 
    ('github', #6e5494, $fa-var-github);

    @each $icon, $color, $var in $list {
        a.#{$icon} {
          @include hover-color($color);
          .fa {
            margin: 10px;
          }
        }
        
        i.i#{$icon} {

          @extend %fa-icon;
          @extend .fab;
          @extend .fa-2x;

          margin: 10px;

          &:before {
            content: fa-content($var);
          }


        }
    }
}