// Import custom variables (overrides Bootstrap default variables)
@import "scss/variables";

// Import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Import fontawesome
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";

// Import custom styles
@import "scss/global";
@import "scss/navbar";
@import "scss/masthead";
@import "scss/portfolio";
@import "scss/cards";
@import "scss/icon";
